@font-face {
  font-family: 'ComputerModern';
  font-style: normal;
  font-weight: 300;
  src: url('latin.otf') format('opentype');
}

html, body {
	font-family: 'ComputerModern';
	height: 100%;
	width: 100%;
	font-size: 30px;
	font-weight: bold;
}

body {
	background: #f3f3f2;
	color: #373737;
}

* {
	margin: 0;
	padding: 0;
}

table {
	height: 100%;
	width: 100%;
}
table tr td {
	background: #e7e7e7;
	height: 16%;
	border: 1px solid #a9a9a9;
	text-align: center;
}

table tr td.oneswipe {
	padding-top: 0.5em;
}

table tr td.oneswipe span, table tr td.doubleswipe span {
	font-size: 0.5em;
	line-height: 1em;
	display: block;
	opacity: 0.7;
	font-weight: normal;
}

table tr td.switch span {
	display: block;
	width: 100%;
	opacity: 0.3;
	font-weight: normal;
	font-size: 0.5em;
	line-height: 1em;
}

table tr td span.cur {
	opacity: 1;
	font-weight: bold;
}

table tr td.deactivated {
	background: #f7f7f7;	
	color: #c4c4c4;
}

table tr td.blink {
	background: red;	
	transition: 10s;
}

table tr td.active {
	color: #c4c4c4;
}

table tr td.active span {
	opacity: 1;
	color: yellow;
}

table tr td.filled {
	background: red;
}

/************************************************ display *********************************/

table tr.display td {
	background: none;
	border: none;
}

#cont_disp {
	height: 100%;
	display: inline-block;
}

#error_line {
	color: #ff4a4a;
	line-height: 1em;
	font-size: 0.4em;
	height: 20%;
}

#formula {
	overflow: scroll;
	font-size: 1.4em;
	vertical-align: center;
	padding: 0 10px;
	display: flex;
	/*justify-content: flex-end; /* can't scroll */
	align-items: baseline;
	font-weight: normal;
	height: 80%;
}

#formula span {
	flex-shrink: 0;
	display: inline-block;
	font-size: 1em;
	line-height: 1.1em;
}

#formula .bottom {
	font-size: 0.4em;
	padding-bottom: 15%;
	align-self: flex-end;
}

#formula .top {
	font-size: 0.4em;
	align-self: flex-start;
	padding-top: 5%;
}

#formula .block {	
	display: inline-flex;
	align-items: baseline;
}

#formula .root_exp {
	font-size: 0.5em;
	align-self: flex-start;
	padding-top: 5%;
	padding-right: 3px;
	padding-left: 2px;
	border-bottom: #373737 solid 2px;
}	

#formula .root {
	display: inline-flex;
	align-items: baseline;
	border-top: #373737 solid 2px;
	border-left: #373737 solid 2px;
	padding-left: 5px;
	padding-right: 3px;
}	

#formula .brackets {
	font-size: 0.9em;
}

#formula .func {
	font-style: italic;
	padding-right: 5px;
}

.notcmplt {
	color: red;
}

#info {
	position: absolute;
	width: 100%;
	height: 100%;
	background: red;
	top: 0;
	left: 0;
	display: none;
}
